 @font-face{
		font-family:"Baskerville";
		src: url("fonts/LibreBaskerville-Regular.otf");		
	}
 header{	
	width:100%
}
footer{
	display:flex;
	background-color:#579C87;
	color:#FFCE00;
	justify-content:space-between;
}
h1{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;
	width:100%;	
}
a{
	text-decoration:none;
}
#couleur{
	background-color:#FADBD6;
}
#musique{
	display:flex;
	justify-content:center;
	background-color:#FCDFDB;	
}
#musique img{
	width:10%;	
}
#page{
	display:flex;
	flex-direction:column;
	background-color:#FCDFDB;	
}
#page_1{
	display:flex;
	flex-direction:column;
	background-color:#FFF5FE;	
}
#page_2{
	display:flex;
	flex-direction:column;
	background-color:#EDEFEF;
}
#page_3{
	display:flex;
	flex-direction:column;
	background-color:#FDFFFD;
}
#page_1>h3{
	color:#C77529;
	font-family:roboto;
}
#page_2>h3{
	font-family:merienda;
	color:#0228DD;
}
#page_3>h3{
	font-family:merienda;
	color:#3D923A;
}
#menu_1{
	background-color:#FCDFDB;
	font-family:merienda;
}
#menu_2{
	font-family:baskerville;
	background-color:#FFF5FE;	
}
#menu_3{
	background-color:#EDEFEF;
	font-family:merienda;
}
#menu_4{
	background-color:#FDFFFD;
	font-family:merienda;
}
#note{
	font-family:Devonshire;
	font-size:20px;
}
#menu{
	display:flex;
	justify-content:center;
	font-family:merienda; 
}
#note>a{
	background:#410D16;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#chic>a{
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#chic{
	display:flex;
	justify-content:center;
	font-family:roboto;
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#delice>a{
	background:linear-gradient(to right,#0431DF 0%, #0887FB 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#delice{
	display:flex;	
	justify-content:center;
	font-family:Alex Brush;
}
#palette>a{
	background:linear-gradient(to right,#3D9339 0%, #C0FD87 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
}
#palette{
	display:flex;
	justify-content:center;
	font-family:merienda;
}
h3{
	display:flex;
	justify-content:center;
}
#note{
	color:#410D16;
	display:flex;
	justify-content:center;
}
#chic>h2{
	display:flex;
	justify-content:center;
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);	
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:Roboto;
}
#delice>h2{
	display:flex;
	justify-content:center;
	background:linear-gradient(to right,#0431DF 0%, #0887FB 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:Alex Brush;
}
#delice>h3{
	color:#0228DD;	
	font-family:merienda;
}
#palette>h2{
	display:flex;
	justify-content:center;
	background:linear-gradient(to right,#3D9339 0%, #C0FD87 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
	font-family:merienda;
}
#palette>h3{
	color:#3D923A;
	font-family:merienda;
}	
#prochainement{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;	
	margin-bottom:50px;
	width:50%;
	margin-right:auto;
	margin-left:auto;
}
#entree{
	color:#C77529;	
}
#plat{
	color:#AF5D9B;
}
#dessert{
	color:#7930D3;
}
ul{
	list-style-type:none;
}

