@font-face{
	font-family:"Baskerville";
	src: url("fonts/LibreBaskerville-Regular.otf");		
}
@font-face{
	font-family:"devonshire";
	src: url("fonts/Devonshire-Regular.ttf");
}
@font-face{
	font-family:Dancing;
	src: url("fonts/DancingScript.ttf");
}
@font-face{
	font-family:merienda;
	src: url("fonts/Merienda-Regular.ttf");
}
@font-face{
	font-family:caveat;
	src: url("fonts/caveat-regular.ttf");
}
#bloc_1, #bloc_2{
	display:flex;	
	align-items:center;
	justify-content:space-evenly;	
}
a{
	text-decoration:none;	
}
header{	
	width:100%;	
	font-size:30px;
}
footer{
	display:flex;
	background-color:#579C87;
	color:#FFCE00;
	justify-content:space-between;
	font-size:20px;
	margin-left:50px;
	margin-right:75px;
}
h1{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;
	width:100%;	
}
/*fin de header*/
#menu{
	display:flex;
	justify-content:center;
	font-family:merienda;
	font-size:30px;
}
#page {
	display:flex;
	flex-direction:column;
	background-color:#FCDFDB;	
	transition-property:transform, opacity;
	box-shadow:	0px 0px 8px 6px #E8E8E8;
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function: linear;
	width:500px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_1{
	display:flex;
	flex-direction:column;
	background-color:#FFF5FE;
	transition-property:transform, opacity;
	box-shadow:	0px 0px 8px 6px #E8E8E8;
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	width:500px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_2{
	display:flex;
	flex-direction:column;
	background-color:#EDEFEF;
	transition-property:transform, opacity;
	box-shadow:	0px 0px 8px 6px #E8E8E8;
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	width:500px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_3{
	display:flex;
	flex-direction:column;
	background-color:#FDFFFD;
	transition-property:transform, opacity;
	box-shadow:	0px 0px 8px 6px #E8E8E8;
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	width:500px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_1>h3{
	color:#C77529;
	font-family:roboto;
	font-size:30px;
}
#page_2>h3{
	font-family:merienda;
	color:#0228DD;
	font-size:30px;
}
#page_3>h3{
	font-family:merienda;
	color:#3D923A;
	font-size:30px;
}
/*fin de index*/
.titre_1, .titre_2, .titre_3{
	display:flex;
	justify-content:space-between;
	margin:auto;
}
h3{
	display:flex;
	justify-content:center;
	font-size:25px;
}
.liste{
	list-style-type:none;
}
p{
	font-size:20px;	
}
.entree{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.prix{
	display:flex;
	margin-right:50px;
}
.plat{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.dessert{
	margin-left:50px;
}
#couleur{	
	background-color:#FADBD6;
	width:90%;	
	margin-bottom:50px;
	margin-left:50px;
	margin-right:50px;
}
#musique{
	display:flex;
	justify-content:center;
	background-color:#FCDFDB;		
}
#musique img{
	width:8%;	
}
#note{
	font-family:Devonshire;
	font-size:30px;
	color:#410D16;
	display:flex;
	justify-content:center;
}
#note>a{
	background:#410D16;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.trait{
	width:30%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#note>h2{
	margin-top:0px;	
}
#menu_1{
	background-color:#FCDFDB;
	font-family:merienda;	
}
h2{
	display:flex;
	font-size:40px;
	justify-content:center;
}
/*fin de note*/
#couleur_1{
	width:90%;
	background-color: #FFF5FE;
	margin-bottom:50px;
	margin-left:50px;
	margin-right:50px;
}
.titre_1>h3{
	font-size:20px;
}
#menu_2{
	font-family:baskerville;
	background-color:#FFF5FE;	
}
.losange{
	width:30%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#chic>a{
	display:flex;
	justify-content:center;
	font-family:roboto;
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#chic>h2{
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
}
#chic{
	display:flex;
	justify-content:center;	
	background:linear-gradient(to right,#C77529 0%,#8F5BFE 75%);
	-webkit-background-clip:text;
	font-size:30px;
}
.entree_1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}	
#entree{
	color:#C77529;	
}
.plat_1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
#plat{
	color:#AF5D9B;
}
.dessert_1{
	margin-left:50px;
}
#dessert{
	color:#7930D3;
}
/*fin de chic*/
.virgule{
	width:30%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#menu_3{
	background-color:#EDEFEF;
	font-family:merienda;
}
#delice>a{
	background:linear-gradient(to right,#0431DF 0%, #0887FB 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
#delice{
	display:flex;	
	justify-content:center;
	font-family:Dancing;
	font-size:30px;
}
#delice>h2{
	display:flex;
	justify-content:center;
	background:linear-gradient(to right,#0431DF 0%, #0887FB 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:dancing;	
}
#delice>h3{
	color:#0228DD;	
	font-family:merienda;
}

/*fin de delice*/
#menu_4{
	background-color:#FDFFFD;
	font-family:merienda;
}
.vague{
	display:flex;
	width:30%;
	margin-left:40px;
	margin-right:40px;
}
#palette>a{
	background:linear-gradient(to right,#3D9339 0%, #C0FD87 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
}
#palette{
	display:flex;
	justify-content:center;
	font-family:merienda;
	font-size:30px;
}
#palette>h2{
	display:flex;
	justify-content:center;
	background:linear-gradient(to right,#3D9339 0%, #C0FD87 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
	font-family:merienda;	
}
#palette>h3{
	color:#3D923A;
	font-family:merienda;
}
/*fin de palette*/
#prochainement{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;	
	margin-bottom:50px;
	width:50%;
	margin-right:auto;
	margin-left:auto;
	font-size:30px;
}
#mentions{
	margin-left:50px;
}
#contact{
	margin-right:50px;
}

