@font-face{
	font-family:"Baskerville";
	src: url("fonts/LibreBaskerville-Regular.otf");		
}
@font-face{
	font-family:"devonshire";
	src: url("fonts/Devonshire-Regular.ttf");
}
@font-face{
	font-family:Dancing;
	src: url("fonts/DancingScript.ttf");
}
@font-face{
	font-family:merienda;
	src: url("fonts/Merienda-Regular.ttf");
}
@font-face{
	font-family:caveat;
	src: url("fonts/caveat-regular.ttf");
}
#bloc_1, #bloc_2{
	display:flex;	
	align-items:center;
	justify-content:space-evenly;	
}
a{
	text-decoration:none;	
}
header{		
	font-size:40px;
}
h1{
	margin:0px;
}
footer{
	display:flex;
	background-color:#579C87;	
	font-size:20px;
	justify-content:space-between;
}
footer a:visited{
	color:#FFCE00;
}
footer a{
	color:#FFCE00;	
}
h4 {
	color:#FFCE00;
}
#mentions{
	margin-left:50px;
}
#contact{
	margin-right:50px;
}
@-webkit-keyframes spaceboots{
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake a:hover, .shake a:focus{
	 
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#mention{
	color:#FFCE00;	
}
#mention h2{
	text-decoration:underline;
	text-decoration-color:black;
}
.adresse{
	display:flex;
	justify-content:center;
	color:#FFCE00;
	font-size:20px;
}
.info{
	color:#FFCE00;
	text-decoration:underline;
	text-decoration-color:black;
}
h1{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;
	width:100%;	
}
/*fin de header*/
#menu{
	font-family:merienda;	
}
#page{
	display:flex;
	flex-direction:column;
	background-color:#FCDFDB;	
	transition-property:transform, opacity;	
	box-shadow:0px 0px 8px 6px #E8E8E8;	
	width:350px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page div:hover{
	transform:scale(1.1);
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function: linear;
	cursor:pointer;
	opacity:0.5;
	transition:transform 400ms;
}
#page_1{
	display:flex;
	flex-direction:column;
	background-color:#FFF5FE;
	transition-property:transform, opacity;	
	box-shadow:0px 0px 8px 6px #E8E8E8;		
	width:350px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_1 div:hover{
	transform:scale(1.1);
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	cursor:pointer;
	opacity:0.5;
	transition:transform 400ms;
}
#page_2{
	display:flex;
	flex-direction:column;
	background-color:#EDEFEF;
	transition-property:transform, opacity;	
	box-shadow:0px 0px 8px 6px #E8E8E8;
	width:350px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_2 div:hover{
	transform:scale(1.1);
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	cursor:pointer;
	opacity:0.5;
	transition:transform 400ms;
}
#page_3{
	display:flex;
	flex-direction:column;
	background-color:#FDFFFD;	
	transition-property:transform, opacity;
	box-shadow:0px 0px 8px 6px #E8E8E8;		
	width:350px;
	height:600px;
	margin-bottom:50px;
	margin-top:50px;
	justify-content:center;
}
#page_3 div:hover{
	transform:scale(1.1);
	transition-duration:500ms;
	transition-delay:700ms;
	transition-timing-function:linear;
	cursor:pointer;
	opacity:0.5;
	transition:transform 400ms;
}
#page h3{
	font-size:40px;
	display:flex;
	justify-content:center;
	margin-top:0px;
	color:#410D16;
}
#page_1 h3{
	color:#C77529;
	font-family:roboto;
	font-size:40px;
	display:flex;
	justify-content:center;
}
#page_2 h3{
	font-family:merienda;
	color:#0228DD;
	font-size:40px;
	display:flex;
	justify-content:center;
}
#page_3 h3{
	font-family:merienda;
	color:#3D923A;
	font-size:40px;
	display:flex;
	justify-content:center;
}
#page #musique img{
	width:20%;
}
/*fin de index*/
.titre_1, .titre_2, .titre_3{
	display:flex;
	justify-content:space-between;
	margin:auto;
}
.titre_1 .titre_2 .titre_3 h3{
	display:flex;
	justify-content:center;	
}
.titre_1 h3{
	font-size:25px;
}
.titre_1 h3{
  position: relative;
}
#ne .titre_1 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}
#ne .titre_1 h3{
	font-size:30px;
}
#ne .titre_1 h3:hover {
  background-size: 100% 100%;
}
#ne .titre_2 h3{
	font-size:30px;
}
#ne .titre_2 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  background:-webkit-linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  background:-moz-linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}
#ne .titre_2 h3:hover {
  background-size: 100% 100%;
}
#ne .titre_3 h3{
	font-size:30px;
}
#ne .titre_3 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  background: -webkit-linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  background: -moz-linear-gradient(to top, rgb(65, 13, 22) 0%, rgb(65, 13, 22) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}
#ne .titre_3 h3:hover {
  background-size: 100% 100%;
}
#le_chic .titre_1 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(199, 117, 41) 0%, rgb(199, 117, 41) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;  
  transition: background-size .5s;
}
#le_chic .titre_1 h3:hover {
  background-size: 100% 100%;
}
#le_chic .titre_1 h3{
	font-size:30px;
}
#le_chic .titre_2 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(175, 93, 155) 0%, rgb(175, 93, 155) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;  
  transition: background-size .5s;
}
#le_chic .titre_2 h3:hover{
  background-size: 100% 100%;
}
#le_chic .titre_2 h3{
	font-size:30px;
}
#le_chic .titre_3 h3{
  text-decoration: none;
  background: linear-gradient(to top, rgb(121, 48, 211) 0%, rgb(121, 48, 211) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}
#le_chic .titre_3 h3:hover{
  background-size: 100% 100%;
}
#le_chic .titre_3 h3{
	font-size:30px;
}
#le_delice .titre_1 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(2, 40, 221) 0%, rgb(2, 40, 221) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#le_delice .titre_1 h3:hover{
  background-size: 100% 100%;
}
#le_delice .titre_1 h3{
	font-size:30px;
}
#le_delice .titre_2 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(4, 49, 223) 0%, rgb(4, 49, 223) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#le_delice .titre_2 h3:hover{
  background-size: 100% 100%;
}
#le_delice .titre_2 h3{
	font-size:30px;
}
#le_delice .titre_3 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(8, 135, 251) 0%, rgb(8, 135, 251) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#le_delice .titre_3 h3:hover{
  background-size: 100% 100%;
}
#le_delice .titre_3 h3{
	font-size:30px;
}
#la_palette .titre_1 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(61, 147, 57) 0%, rgb(61, 147, 57) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#la_palette .titre_1 h3:hover{
  background-size: 100% 100%;
}
#la_palette .titre_1 h3{
	font-size:30px;
}
#la_palette .titre_2 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(128,210,98) 0%, rgb(128,210,98) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#la_palette .titre_2 h3:hover{
  background-size: 100% 100%;
}
#la_palette .titre_2 h3{
	font-size:30px;
}
#la_palette .titre_3 h3{
	text-decoration: none;
    background: linear-gradient(to top, rgb(192, 253, 135) 0%, rgb(192, 253, 135) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
#la_palette .titre_3 h3:hover{
  background-size: 100% 100%;
}
#la_palette .titre_3 h3{
	font-size:30px;
}
.liste{
	list-style-type:none;
}
p{
	font-size:20px;	
}
.entree{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.prix{
	display:flex;
	margin-right:50px;
}
.plat{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.dessert{
	margin-left:50px;
}
#couleur{	
	background-color:#FADBD6;
	width:90%;	
	margin-bottom:50px;
	margin-left:50px;
	margin-right:50px;
	padding-bottom:50px;
}
#musique{
	display:flex;
	justify-content:center;		
}
#musique img{	
	width:8%;	
}
#titre_4 #musique{
	display:block;
	width:35%;
}
#titre_4 #musique img{
	float:right;
	width:10%;
	padding-right:10px;
	margin-top:8px;
	margin-right:10px;
}
#titre_4 h2{
	display:block;	
}
#note{
	font-family:Devonshire;
	font-size:30px;
	color:#410D16;
	display:flex;
	justify-content:center;
}
#note a{
	background:#410D16;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;	
}
.trait{
	width:30%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#note h2{
	margin-top:10px;	
}
#menu_1{
	background-color:#FCDFDB;
	font-family:merienda;	
}
h2{
	display:flex;
	font-size:30px;
	justify-content:center;
}
#ne h2{
	font-size:50px;
}
#le_chic h2{
	font-size:50px;
}
#le_delice h2{
	font-size:50px;
}
#la_palette h2{
	font-size:50px;
}
#titre_4{
	display:flex;
	padding-top:10px;
}
/*fin de note*/
#couleur_1{
	width:90%;
	background-color: #FFF5FE;
	margin-bottom:50px;
	margin-left:50px;
	margin-right:50px;
	padding-bottom:50px;
}
#menu_2{
	font-family:baskerville;
	background-color:#FFF5FE;	
}
.losange{
	width:25%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#chic a{
	display:flex;
	justify-content:center;
	font-family:roboto;	
}
#chic h2{	
	background: -webkit-gradient(linear,left top,right bottom, from(#C77412), to(#8F5AFF));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#chic{
	display:flex;
	justify-content:center;		
	font-size:30px;
}
.entree_1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}	
#entree{
	color:#C77529;	
}
.plat_1{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
#plat{
	color:#AF5D9B;
	font-size:25px;
}
.dessert_1{
	margin-left:50px;
}
#dessert{
	color:#7930D3;
	font-size:25px;
}
/*fin de chic*/
#couleur_2{
	background-color:#EDEFEF;
	width:90%;
	margin-bottom:50px;
	margin-left:50px;
	margin-right:50px;
	padding-bottom:50px;
}
.entree_2{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.plat_2{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.dessert_2{
	margin-left:50px;
}
.virgule{
	width:25%;
	display:flex;
	margin-left:40px;
	margin-right:40px;
}
#menu_3{
	background-color:#EDEFEF;
	font-family:merienda;
}
#delice{
	display:flex;	
	justify-content:center;
	font-family:Dancing;
	font-size:30px;
}
#delice h2{
	margin-left:10px;
	padding-left:10px;
}
#delice h2{
	display:flex;
	justify-content:center;
	background: -webkit-gradient(linear,left top,right bottom, from(#0228DD), to(#0887FB));	
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:dancing;	
}
#delice h3{
	color:#0228DD;	
	font-family:merienda;	
}
/*fin de delice*/
#couleur_3{
	background-color:#FDFFFD;
	padding-bottom:50px;
}
.entree_3{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.plat_3{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
.dessert_3{
	margin-left:50px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:50px;
}
#menu_4{
	background-color:#FDFFFD;
	font-family:merienda;
}
.vague{
	display:flex;
	width:30%;
	margin-left:40px;
	margin-right:40px;
}
#palette{
	display:flex;
	justify-content:center;
	font-family:merienda;
	font-size:30px;
}
#palette h2{
	display:flex;
	justify-content:center;
	background: linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
    background: -webkit-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
    background: -moz-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
    -webkit-background-clip: text;
    color: transparent;
	font-family:merienda;
}		
#palette h2{
	background: -webkit-gradient(linear,left top,right bottom, from(#3D923A), to(#BEFF7F));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}	
#palette h3{
	color:#3D923A;
	font-family:merienda;
}
/*fin de palette*/
#prochainement{
	display:flex;
	justify-content:center;
	background-color:#579C87;
	color:#FFCE00;		
	width:50%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:50px;
	margin-right:auto;
	margin-left:auto;
	font-size:30px;	
	border-radius:10px 10px 10px 10px;
}
@keyframes blink{
	0%{
		opacity:0.2;
	}
	20%{
		opacity:1;
	}
	100%{
		opacity:0.2;
	}
}
.point{
	animation-name:blink;
	animation-duration:1.4s;
	animation-iteration-count:infinite;
	animation-fill-mode:both;
}
.point:nth-child(2){
	animation-delay:0.2s;
}
.point:nth-child(3){
	animation-delay:0.4s;
}
.point{
	font-size:30px;
}
/*@media all and (max-width:360px){
	#ne h3{
		font-size:15px;
	}
	#ne p{
		font-size:12px;
	}
	#le_chic .titre_1 h3{
		font-size:12px;
	}
}*/
@media all and (min-width:360px)and (max-width:600px){
	header{
		font-size:30px; 
	}                   
	footer{
		font-size:15px;
	}
	#bloc_1{
		width:100%;
		display:flex;
		flex-direction:column;		
		}
	#bloc_2{
		width:100%;
		display:flex;
		flex-direction:column;	
		}
	#page{
		width:100%;
	}
	#page_1{ 
		width:100%;
	}
	#page_2{ 
	 width:100%;
	}
	#page_3{
		width:100%;
	}
	#ne h2{
		font-size:40px;
	}
	h2{
		font-size:30px;
	}
	#page h3{
		font-size:30px;
	}
	#couleur{
		margin-left:20px;
		}
	#couleur_1{
		margin-left:25px;
		margin-top:25px;
	}	
	#couleur_2{
		margin-left:25px;
		margin-top:25px;
	}
	#couleur_3{
		margin-top:25px;
	}
	#delice h2{
		font-size:35px;
		margin-left:0px;
		margin-right:0px;
	}
	#palette h2{
		font-size:30px;
		margin-left:0px;
		margin-right:0px
	}
	#titre_4 #musique img{
		width:20%;		
	}	
	#note h2{
		font-size:30px;
		margin-top:0px;
	}
	#chic h2{
		font-size:25px;
	}
	.entree{
		margin:5px;
	}
	.entree_1{
		margin:10px;
	}
	.entree_2{
		margin:10px;
	}
	.entree_3{
		margin:10px;
	}
	.plat{
		margin:5px;
	}
	.plat_1{
		margin:10px;
	}
	.plat_2{
		margin:10px;
	}
	.plat_3{
		margin:10px;
	}
	.dessert{
		margin:5px;
	}
	.dessert_1{
		margin:10px;
	}
	.dessert_2{
		margin:10px;
	}
	.dessert_3{
		margin:10px;
	}
	.prix{
		margin-right:0px;
	}
	p{
		font-size:12px;
	}
	#ne .titre_1 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#ne .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#ne .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_1 h3{
		font-size:14px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_2 h3{
		font-size:15px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_3 h3{
		font-size:15px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_1 h3{
		font-size:15px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_2 h3{
		font-size:15px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_3 h3{
		font-size:15px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_1 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	.titre_1{
		display:flex;		
		align-items:center;
	}
	.titre_2{
		display:flex;
		align-items:center;
	}
	.titre_3{
		display:flex;
		align-items:center;
	}
	.trait{
		width:25%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}
	.losange{
		width:20%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}	
	.virgule{
		width:20%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}	
	.vague{
		width:20%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}		
	#prochainement{
		width:70%;
	}
	#mentions{
		margin-left:10px;
	}
	#contact{
		margin-right:10px;
	}
}
@media all and (min-width:601px)and (max-width:1024px){
	header{
		font-size:30px; 
	}
	footer{
		font-size:30px;
	}
	#bloc_1{
		width:100%;
		display:flex;
		flex-direction:column;		
		}
	#bloc_2{
		width:100%;
		display:flex;
		flex-direction:column;	
		}
	#page{
		width:500px;
		height:600px;
	}
	#page_1{ 
		width:500px;
		height:600px;
	}
	#page_2{ 
		width:500px;
		height:600px;
	}
	#page_3{
		width:500px;
		height:600px;
	}	
	#page h3{
		font-size:30px;
	}
	#couleur{
		margin-left:20px;
		}
	#couleur_1{
		margin-left:25px;
		margin-top:25px;
	}	
	#couleur_2{
		margin-left:25px;
		margin-top:25px;
	}
	#couleur_3{
		margin-top:25px;
	}
	#titre_4 #musique img{
		width:20%;		
	}	
	#note h2{
		font-size:30px;
		margin-top:0px;
	}
	#chic h2{
		font-size:30px;		
	}
	#menu_2 #chic h2{
		font-size:25px;
	}
	#menu_3 #delice h2{
		font-size:35px;
	}
	p{
		font-size:15px;
	}
	#ne .titre_1 h3{
		font-size:20px;		
		display:flex;
		justify-content:center;
	}
	#ne .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#ne .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_1 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_chic .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_1 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#le_delice .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_1 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_2 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	#la_palette .titre_3 h3{
		font-size:20px;
		display:flex;
		justify-content:center;
	}
	.titre_1{
		display:flex;		
		align-items:center;
	}
	.titre_2{
		display:flex;
		align-items:center;
	}
	.titre_3{
		display:flex;
		align-items:center;
	}
	.trait{
		width:25%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}
	.losange{
		width:25%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}	
	.virgule{
		width:25%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}	
	.vague{
		width:25%;
		margin-left:0px;
		margin-right:0px;
		display:block;
	}		
	#prochainement{
		width:70%;
	}
	#mentions{
		margin-left:10px;
	}
	#contact{
		margin-right:10px;
	}
}
